header {
    height: 65px;
    padding-top: 15px;
    width: 100%;
    background-color: #f31d4f;
}

body {
    background-color: #404040;
}

h2 {
    margin: none;
    color: white;
}

#mainFeed {
    background-color: #303030;
    height: 1100px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#middleSpace {
    height: 1100px;
}

#topmiddleSpace,
#topSpace {
    height: 50px;
    margin-top: 15px;
}

#loginButton,
#regButton {
    background-color: #ab1336;
    float: right;
    margin-right: 20px;
    border-radius: 15px;
    border: none;
}

#perFeedButton,
#globFeedButton {
    background-color: #404040;
    border-radius: 15px;
    border: none;
    float: right;
}

#bweetButton {
    background-color: #f31d4f;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    width: 130px;
    height: 52px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

/*Login page*/

#mainLogin {
    background-color: #303030;
    height: 190px;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
}

#logInLogIn{
    margin-top: 50px;
}

#logRightInButton{
    background-color: #ab1336;
    border-radius: 15px;
    border: none;
    width: 80%;
    /*Temp*/
    margin-top: 30px;
}

#otherpages{
    margin-top: 20px; 
}